.SignUp
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
    overflow: auto;   
    .wrapper
        border 2px solid pink
        width: 30%
        min-width: 200px
        margin: 0 auto
        padding: 10px
        text-align: center
        .title
            font-size: 24px
            text-align: center
        .err
            color: red
            font-size: 14px
            text-align: center
        form
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            .line
                height 20px
            div
                display: flex
                justify-content: center
                align-items: center
                flex-direction: column
                flex-wrap: wrap
                width: 100%
                div
                    min-width 100px
                    max-width 300px

