@import './src/components/header/header.styl' 
@import './src/containers/forms/signIn/signIn.styl' 
@import './src/containers/forms/signUp/signUp.styl' 
@import './src/containers/forms/resetPassword/resetPassword.styl'
@import './src/containers/forms/confirmPassword/confirmPassword.styl'
*
    margin: 0
    padding: 0
    box-sizing: border-box