.err {
  color: #f00;
  font-size: 14px;
  text-align: center;
}
.forgot {
  padding: 20px;
  display: inline;
}
a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
}
a:hover {
  color: #f50057 !important;
}
.err {
  color: #f00;
  font-size: 14px;
  text-align: center;
}
.resetPassword {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
}
.resetPassword .wrapper {
  border: 2px solid #ffc0cb;
  width: 30%;
  min-width: 200px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}
.resetPassword .wrapper .title {
  font-size: 24px;
  text-align: center;
}
.resetPassword .wrapper .err {
  color: #f00;
  font-size: 14px;
  text-align: center;
}
.resetPassword .wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.resetPassword .wrapper form .line {
  height: 20px;
}
.resetPassword .wrapper form div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}
.resetPassword .wrapper form div div {
  min-width: 100px;
  max-width: 300px;
}
.ConfirmPassword {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
}
.ConfirmPassword .wrapper {
  border: 2px solid #ffc0cb;
  width: 30%;
  min-width: 200px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ConfirmPassword .wrapper .line {
  height: 20px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.not-auth {
  color: #888;
  text-align: center;
  font-size: 14px;
  padding: 20px 0;
}
